---
// Social Proof Section
// ------------
// Description: A section with logos of social media platforms to enhance the trust of the users.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import { Image } from 'astro:assets'

// Content
import intelexiaLabsLogo from '../../../assets/logos/logo.svg'
import cotas from '../../../assets/logos/logoCotas.svg'

const images = [

  {
    image: cotas,
    alt: 'COTAS Logo',
    width: 120,  // Tamaño ligeramente mayor para COTAS
    height: 50,
    class: 'h-10'
  }
]

// Props
type Props = {
  classes?: string
}
const { classes } = Astro.props
---

<Section padding="bottom" classes={classes}>
  <Row>
    <Col span="12" align="center">
      <h2 class="!mb-8 text-base font-normal text-neutral-400 dark:text-neutral-600">
        En alianza estratégica con:
      </h2>
    </Col>
  </Row>
  <Row flex classes="!flex-row justify-center items-center gap-12">
    {
      images.map((item) => (
        <Col >
          <Image 
            src={item.image} 
            alt={item.alt} 
            width={item.width} 
            height={item.height} 
            class={`${item.class} object-contain`} 
          />
        </Col>
      ))
    }
  </Row>
</Section>

<style>
  /* Ajustes opcionales para dark mode */
  .dark .logo-partner {
    filter: brightness(0) invert(1);
  }
</style>